<div fxLayout fxLayoutAlign="center center" fxFlexFill fxLayoutGap="50px">
  <div fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="40%" fxFlex.lg="30%" fxFlex.xl="20%">
    <div fxLayout="column" *ngIf="loaded" @fadeInOut>
      <form (ngSubmit)="signIn()" class="example-form" [class.mat-elevation-z2]="!smallDevice" class="frannca-login" [class.frannca-login-small]="smallDevice">
        <h2 class="mat-title">Sign in</h2>
        <div fxLayout="row wrap">
          <mat-form-field fxFlex="100%">
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field fxFlex="100%">
            <input matInput type="password" placeholder="Password">
          </mat-form-field>

          <div fxLayout fxFlexFill fxLayoutAlign="space-between center" fxLayoutGap.xs="20px">
            <div fxFlex.xs="50%" fxFlex="100%">
              <a mat-stroked-button color="primary" [class.frannca-fluid]="smallDevice" (click)="changeRoute('/register')">Register</a>
            </div>
            <div fxFlex.xs="50%">
              <button type="submit" mat-flat-button [class.frannca-fluid]="smallDevice">Sign in</button>
            </div>
          </div>
        </div>
      </form>
      <div fxLayout fxFlexFill fxLayoutAlign="center center">
        <div class="frannca-forgot-password">
          <a href="">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
