.fra-card {
  &.fra-card-link {
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .mat-card-content:last-of-type {
    margin-bottom: 0;
  }
}

.fra-card-simple {
  background-color: white;

  .fra-card-content {
    padding: 1rem;
  }

  .fra-card-buttons {
    display: inline-flex;

    &.handset {
      display: block;
    }

    a:not(:last-child) {
      margin-right: 8px;
    }
  }
}
