<div class="fra-container fra-title" @fadeInSmall>
  <h2 class="mat-title">Menu</h2>
</div>

<div class="fra-container">
  <h5 class="fra-title mat-subheading-2" @fadeInSmall>Examples</h5>

  <div class="fra-card-simple mat-elevation-z2" @zoomInMedium>
    <div class="fra-card-title">
      <h6 class="mat-subheading-1">Basic</h6>
    </div>
    <div class="fra-card-content fra-card-align-center">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="fra-card-code">
      <mat-tab-group>
        <mat-tab label="HTML">
          <pre><code highlight [language]="['html']" [code]="menuSimpleHtml"></code></pre>
        </mat-tab>
        <mat-tab label="TypeScript">
          <pre><code highlight [language]="['typescript']" [code]="menuSimpleTypeScript"></code></pre>
        </mat-tab>
        <mat-tab label="CSS">
          <pre><code highlight [language]="['css']" [code]="menuSimpleCss"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="fra-card-simple fra-margin-top mat-elevation-z2" @zoomInMedium>
    <div class="fra-card-title">
      <h6 class="mat-subheading-1">Icon</h6>
    </div>
    <div class="fra-card-content fra-card-align-center">
      <button mat-button [matMenuTriggerFor]="menuIcon">
        Menu
      </button>
      <mat-menu #menuIcon="matMenu">
        <button mat-menu-item>
          <mat-icon>favorite</mat-icon>
          <span>Love</span>
        </button>
        <button mat-menu-item>
          <mat-icon>thumb_up</mat-icon>
          <span>Like</span>
        </button>
        <button mat-menu-item>
          <mat-icon>thumb_down</mat-icon>
          <span>Dislike</span>
        </button>
      </mat-menu>
    </div>
    <div class="fra-card-code">
      <mat-tab-group>
        <mat-tab label="HTML">
          <pre><code highlight [language]="['html']" [code]="menuIconHtml"></code></pre>
        </mat-tab>
        <mat-tab label="TypeScript">
          <pre><code highlight [language]="['typescript']" [code]="menuIconTypeScript"></code></pre>
        </mat-tab>
        <mat-tab label="CSS">
          <pre><code highlight [language]="['css']" [code]="menuIconCss"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <h5 class="fra-title mat-subheading-2" @fadeInSmall>Resources</h5>

  <div class="fra-row">
    <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

      <!-- Menu -->
      <div fxFlex="50%" class="fra-card-simple mat-elevation-z2" @zoomInMedium @fadeInMedium>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="fra-card-content">
          <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
            Menu
            <span class="mat-caption"><a href="https://material.angular.io">material.angular.io</a></span>
          </div>
          <div class="fra-card-buttons">
            <a href="https://github.com/angular/material2/tree/master/src/lib/menu" target="_blank" mat-flat-button>
              <mat-icon>open_in_new</mat-icon>
              Source
            </a>
            <a href="https://material.angular.io/components/menu/overview" target="_blank" mat-flat-button>
              <mat-icon>open_in_new</mat-icon>
              Documentation
            </a>
          </div>
        </div>
      </div>

      <!-- Sidenav -->
      <div fxFlex="50%" class="fra-card-simple mat-elevation-z2" @zoomInMedium @fadeInMedium>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="fra-card-content">
          <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
            Sidenav
            <span class="mat-caption"><a href="https://material.angular.io">material.angular.io</a></span>
          </div>
          <div class="fra-card-buttons">
            <a href="https://github.com/angular/material2/blob/master/src/lib/sidenav" target="_blank" mat-flat-button>
              <mat-icon>open_in_new</mat-icon>
              Source
            </a>
            <a href="https://material.angular.io/components/sidenav/overview" target="_blank" mat-flat-button>
              <mat-icon>open_in_new</mat-icon>
              Documentation
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
