.frannca-fluid {
  width: 100%;
}

.frannca-login {
  padding: 30px;

  &.frannca-login-small {
    padding-bottom: 4px;
  }
}

//.frannca-forgot-password {
//  border-top: solid 1px rgba(0,0,0,.42);
//  margin-top: 20px !important;
//  padding-top: 20px;
//}

.frannca-forgot-password {
  margin: 6px 0;

  a {
    color: #757575;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

