<div fxLayout fxLayoutAlign="center center" fxFlexFill fxLayoutGap="50px" class="frannca-login">
  <div fxFlex="40%" fxFlex.xs="100%">
    <div fxLayout="column">
        <form class="example-form">
          <div fxLayout="row wrap">
            <mat-form-field fxFlex="100%">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field fxFlex="100%">
              <input matInput type="password" placeholder="Password">
            </mat-form-field>

            <div fxLayout fxFlexFill fxLayoutAlign="space-between center">
              <div>
                <button mat-stroked-button color="primary">Register</button>
              </div>
              <div>
                <button mat-flat-button>Sign in</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
