.sidenav-options {
  button {
    height: 100%;
    width: 100%;

    &.inactive {
      opacity: 0.7;
    }
  }
}

.mat-card .last-child {
  margin-bottom: 0;
}

.frannca-card {
  &.frannca-card-link {
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .mat-card-content:last-of-type {
    margin-bottom: 0;
  }
}
