<!-- TODO: create service to control sidenav -->
<!--<h5 class="frannca-title mdc-typography&#45;&#45;headline5">Sidenav Options</h5>-->

<!--<mat-grid-list [cols]="gridListCols" rowHeight="100px" gutterSize="20" class="sidenav-options">-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'simple'}" (click)="changeSidebarType('simple')">Simple</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-icon'}" (click)="changeSidebarType('with-icon')">With Icon</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-level'}" (click)="changeSidebarType('multi-level')">Multi-Level</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-avatar'}" (click)="changeSidebarType('with-avatar')">With Avatar</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-line'}" (click)="changeSidebarType('multi-line')">Multi-Line</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-line-with-icon'}" (click)="changeSidebarType('multi-line-with-icon')">Multi-Line with Icon</button>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-section'}" (click)="changeSidebarType('with-section')">With Section</button>-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->
