<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mat-elevation-z4">
      <a (click)="snav.toggle()" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">Frannca ngx-admin</span>
    </section>
  </div>
</header>

<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [opened]="sidenav.opened" [mode]="sidenav.mode" [fixedInViewport]="true" [fixedTopGap]="sidenav.fixedTopGap" class="mat-elevation-z2">

      <!-- Navigation list -->
      <mat-nav-list role="navigation">

        <!-- Simple link -->
        <a mat-list-item [routerLink]="['/']">Simple link</a>

        <!-- Link with icon -->
        <!--<mat-list-item>-->
          <!--<a matLine [routerLink]="['/']">Link with iconas fda sf sdaf </a>-->
          <!--<mat-icon matListIcon>info</mat-icon>-->
          <!--<mat-icon class="menu-button">expand_more</mat-icon>-->
        <!--</mat-list-item>-->

        <mat-list-item>
          <mat-icon matListIcon>info</mat-icon>
          <a matLine [routerLink]="['/']">Link with icon</a>
        </mat-list-item>

        <!-- Link with multi-line -->
        <!--<mat-list-item>-->
          <!--<h3 matLine> Link</h3>-->
          <!--<p matLine>-->
            <!--<span> With multi-line </span>-->
          <!--</p>-->
        <!--</mat-list-item>-->

        <!-- Link with multi-line and icon -->
        <!--<mat-list-item>-->
          <!--<mat-icon matListIcon>folder</mat-icon>-->
          <!--<h3 matLine> Link</h3>-->
          <!--<p matLine>-->
            <!--<span> With multi-line</span>-->
            <!--<span> multi-line </span>-->
          <!--</p>-->
        <!--</mat-list-item>-->

        <!-- Link with avatar -->
        <!--<mat-list>-->
          <!--<mat-list-item>-->
            <!--<img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">-->
            <!--<h3 matLine> Renato França </h3>-->
          <!--</mat-list-item>-->
        <!--</mat-list>-->

        <!--<mat-expansion-panel class="example-expansion-panel">-->
          <!--<mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">-->
            <!--<mat-panel-title class="ripple-effect">-->
              <!--<mat-icon matListIcon class="example-icon">info</mat-icon>-->
              <!--<span class="example-panel-title">Personal data</span>-->
            <!--</mat-panel-title>-->
          <!--</mat-expansion-panel-header>-->
          <!--<mat-list-item>-->
            <!--<mat-icon matListIcon>info</mat-icon>-->
            <!--<a matLine [routerLink]="['/']">Link with icon</a>-->
          <!--</mat-list-item>-->
          <!--<mat-list-item>-->
            <!--<mat-icon matListIcon>info</mat-icon>-->
            <!--<a matLine [routerLink]="['/']">Link with icon</a>-->
          <!--</mat-list-item>-->
          <!--<mat-list-item>-->
            <!--<mat-icon matListIcon>info</mat-icon>-->
            <!--<a matLine [routerLink]="['/']">Link with icon</a>-->
          <!--</mat-list-item>-->
        <!--</mat-expansion-panel>-->

        <!-- Dense list -->
        <!--<mat-list dense>-->
          <!--<mat-list-item> Dense list 1 </mat-list-item>-->
          <!--<mat-list-item> Dense list 2 </mat-list-item>-->
          <!--<mat-list-item> Dense list 3 </mat-list-item>-->
        <!--</mat-list>-->

        <!-- Multiple sections -->
        <!--<mat-list>-->
          <!--<h3 matSubheader>Header</h3>-->
          <!--<mat-list-item>-->
            <!--<mat-icon matListIcon>folder</mat-icon>-->
            <!--<h4 matLine>folder.name</h4>-->
            <!--<p matLine class="demo-2"> folder.updated </p>-->
          <!--</mat-list-item>-->
          <!--<mat-divider></mat-divider>-->
          <!--<h3 matSubheader>Notes</h3>-->
          <!--<mat-list-item>-->
            <!--<mat-icon matListIcon>note</mat-icon>-->
            <!--<h4 matLine>note.name</h4>-->
            <!--<p matLine class="demo-2"> note.updated </p>-->
          <!--</mat-list-item>-->
        <!--</mat-list>-->

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <div class="example-content">
        <h4 class="mdc-typography--headline4">Dashboard</h4>

        <h5 class="frannca-title mdc-typography--headline5">Resources</h5>

        <div class="frannca-content">
          <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

            <!-- Top App Bar -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  Top App Bar
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-top-app-bar" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material-components.github.io/material-components-web-catalog/#/component/top-app-bar" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sidenav -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  Sidenav
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/angular/material2/blob/master/src/lib/sidenav/sidenav.md" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material.angular.io/components/sidenav/examples" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frannca-content">
          <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

            <!-- List -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  List
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/angular/material2/blob/master/src/lib/list/list.md" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material.angular.io/components/list/examples" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Empty -->
            <div fxFlex="50%"></div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
