<header class="mdc-top-app-bar mdc-top-app-bar--fixed mat-elevation-z4">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a (click)="snav.toggle()" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">Frannca ngx-admin</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </button>
        <button [routerLink]="['/login']" mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </section>
  </div>
</header>

<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [opened]="sidenav.opened" [mode]="sidenav.mode" [fixedInViewport]="true" [fixedTopGap]="sidenav.fixedTopGap" class="mat-elevation-z2">

      <!-- Simple -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'simple'">
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
        <a mat-list-item [routerLink]="['/']">This is a simplel link</a>
      </mat-nav-list>

      <!-- With icon -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'with-icon'">
        <mat-list-item>
          <mat-icon matListIcon>dashboard</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>favorite</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>list</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>perm_identity</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>power_settings_new</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>settings</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>category</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>location_on</mat-icon>
          <a matLine [routerLink]="['/']">This is a link with icon</a>
        </mat-list-item>
      </mat-nav-list>

      <!-- Multi-level -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'multi-level'">
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">dashboard</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">home</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">favorite</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">list</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">add</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">perm_identity</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">power_settings_new</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">settings</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">category</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel class="example-expansion-panel">
          <mat-expansion-panel-header matRipple [expandedHeight]="'56px'" [collapsedHeight]="'56px'" class="example-expansion-panel-header">
            <mat-panel-title class="ripple-effect">
              <mat-icon matListIcon class="example-icon">location_on</mat-icon>
              <span class="example-panel-title">This is the multi-level title</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <a matLine [routerLink]="['/']">This is a submenu</a>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-nav-list>

      <!-- With avatar -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'with-avatar'">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
          <mat-list-item>
            <img matListAvatar src="../../assets/images/renato-franca.jpg" alt="...">
            <h3 matLine> Renato França </h3>
          </mat-list-item>
        </mat-list>
      </mat-nav-list>

      <!-- Multi-line -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'multi-line'">
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> This is a link with multi-line</h3>
          <p matLine>
            <span> This is the second line </span>
          </p>
        </mat-list-item>
      </mat-nav-list>

      <!-- Multi-line with icon -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'multi-line-with-icon'">
        <mat-list-item>
          <mat-icon matListIcon>dashboard</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>favorite</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>list</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>perm_identity</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>power_settings_new</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>settings</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>category</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>location_on</mat-icon>
          <h3 matLine> This is a link</h3>
          <p matLine>
            <span> With multi-line</span>
            <span> and icon </span>
          </p>
        </mat-list-item>
      </mat-nav-list>

       <!-- With section -->
      <mat-nav-list role="navigation" *ngIf="sidebarType == 'with-section'">
        <mat-list>
          <h3 matSubheader>Section One</h3>
          <mat-list-item>
            <mat-icon matListIcon>dashboard</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>list</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>add</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubheader>Section Two</h3>
          <mat-list-item>
            <mat-icon matListIcon>dashboard</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>favorite</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>list</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>add</mat-icon>
            <h4 matLine>This is a link</h4>
            <p matLine class="demo-2"> with section </p>
          </mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <div class="example-content">
        <h4 class="mdc-typography--headline4">Dashboard</h4>

        <h5 class="frannca-title mdc-typography--headline5">Resources</h5>

        <div class="frannca-content">
          <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

            <!-- Top App Bar -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  Top App Bar
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-top-app-bar" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material-components.github.io/material-components-web-catalog/#/component/top-app-bar" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sidenav -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  Sidenav
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/angular/material2/blob/master/src/lib/sidenav/sidenav.md" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material.angular.io/components/sidenav/examples" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frannca-content">
          <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

            <!-- List -->
            <div fxFlex="50%">
              <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-flex-list mat-elevation-z2">
                <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
                  List
                </div>
                <div class="blocks">
                  <div class="button-row">
                    <a href="https://github.com/angular/material2/blob/master/src/lib/list/list.md" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Source
                    </a>
                    <a href="https://material.angular.io/components/list/examples" target="_blank" mat-flat-button>
                      <mat-icon>open_in_new</mat-icon>
                      Demo
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Empty -->
            <div fxFlex="50%"></div>
          </div>
        </div>

        <h5 class="frannca-title mdc-typography--headline5">Sidenav Options</h5>

        <mat-grid-list [cols]="gridListCols" rowHeight="100px" gutterSize="20" class="sidenav-options">
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'simple'}" (click)="changeSidebarType('simple', snav)">Simple</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-icon'}" (click)="changeSidebarType('with-icon', snav)">With Icon</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-level'}" (click)="changeSidebarType('multi-level', snav)">Multi-Level</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-avatar'}" (click)="changeSidebarType('with-avatar', snav)">With Avatar</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-line'}" (click)="changeSidebarType('multi-line', snav)">Multi-Line</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'multi-line-with-icon'}" (click)="changeSidebarType('multi-line-with-icon', snav)">Multi-Line with Icon</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button [ngClass]="{'inactive': sidebarType != 'with-section'}" (click)="changeSidebarType('with-section', snav)">With Section</button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
