@import "~@material/top-app-bar/dist/mdc.top-app-bar.min.css";

.example-container,
.example-sidenav-container {
  height: 100%;
}

.example-toolbar {
  position: fixed;
  top: 0;
}

.example-content {
  padding: 64px 20px 20px 20px;
}
