.example-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.example-sidenav-content {
  padding-top: 64px;
}

.red {
  background-color: red;
}

.example-expansion-panel {
  box-shadow: none !important;
}

.example-expansion-panel-header {
  padding: 0 16px;

  .example-icon {
    padding: 4px;
  }

  .example-panel-title {
    line-height: 32px;
    padding-left: 16px;
  }
}
