<div class="fra-container fra-title">
  <h2 class="mat-title">Navigation</h2>
</div>

<div class="fra-container">
  <h5 class="frannca-title mat-subheading-2">Resources</h5>

  <div class="frannca-content">
    <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

      <!-- Top App Bar -->
      <div fxFlex="50%">
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-card-simple mat-elevation-z2">
          <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
            Top App Bar
          </div>
          <div class="blocks">
            <div class="button-row">
              <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-top-app-bar" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Source
              </a>
              <a href="https://material-components.github.io/material-components-web-catalog/#/component/top-app-bar" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Demo
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidenav -->
      <div fxFlex="50%">
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-card-simple mat-elevation-z2">
          <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
            Sidenav
          </div>
          <div class="blocks">
            <div class="button-row">
              <a href="https://github.com/angular/material2/blob/master/src/lib/sidenav/sidenav.md" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Source
              </a>
              <a href="https://material.angular.io/components/sidenav/examples" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frannca-content">
    <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">

      <!-- List -->
      <div fxFlex="50%">
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" class="frannca-card-simple mat-elevation-z2">
          <div fxLayout="column" fxFlex.xs="36px" fxLayoutAlign="center">
            List
          </div>
          <div class="blocks">
            <div class="button-row">
              <a href="https://github.com/angular/material2/blob/master/src/lib/list/list.md" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Source
              </a>
              <a href="https://material.angular.io/components/list/examples" target="_blank" mat-flat-button>
                <mat-icon>open_in_new</mat-icon>
                Demo
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Empty -->
      <div fxFlex="50%"></div>
    </div>
  </div>
</div>
