/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.example-expansion-panel {
  &.mat-expanded {
    background: rgba(245, 245, 245, 1);
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
