@import "components/card";
@import "components/typography";

.fra-height-fluid {
  height: 100%;
}

.fra-container {
  padding: 20px 20px 20px 20px;

  .fra-container-row {
    margin-top: 20px;
  }

  &.fra-title {
    padding-top: 84px;
    border-bottom: solid 1px rgb(234, 234, 234);

    h2 {
      margin: 0;
    }
  }
}
